.bottom-tab
{
    text-align: center;
}

.upper-tab
{
    height:350px;
}

.site-center-main
{
    width:800px;
    height:100%;
    margin:auto;
}

.for-avatar
{
    height:50%;
}

.login-area
{
    width:400px;
}

.login-window
{
    margin:auto;
}
